.work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.image img {
    width: 100%;
    height: calc(100% / 1.5);
}

@media screen and (max-width: 1023px) {
    .work {
        grid-template-columns: 1fr;
    }
}

.work img{aspect-ratio: 3 / 2}